* {
    margin: 0;
    padding: 0;
    background-color: lightsteelblue;
    text-align: center;
}

h1 {
    font-size: 40px;
    background-color: black;
    color: azure;
    padding: 2%;
}

p {
    font-size: 18px;
    text-decoration: 1px underline #000;
    margin: 0.5%;
}

.main {
    margin: 2%;
    font-size: 22px;
    font-weight: 550;
    color: #000;
}

input {
    padding: 0.3% 1%;
}

.guesses {
    color: #000;
    padding: 0.5%;
    text-decoration: none;
}

.lastResult {
    padding: 0.5%;
    text-decoration: none;
}

button {
    padding: 0.5%;
    margin: 2%;
    background-color: black;
    color: azure;
    font-size: 16px;
}

button:hover {
    background-color: #08a036;
    color: #000;
    font-weight: bold;
}